* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
}


/* navMenu (header) */
header {
    background: rgb(255,253,254);
    background: radial-gradient(circle, rgba(255,253,254,1) 45%, rgba(93,95,97,1) 100%);
}
.menuSticky {
    position: sticky;
    top: 0;
    left: 0;
}
.menuSticky__imgLogo {
    width: 350px;
    height: 150px;
}




/* titulos pag principal y menus (main) */
h1 {
    font-style: oblique;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #0a0a0a;
}
h2 {
    font-family: 'Rubik Mono One', sans-serif;
    color: #0a0a0a;
}
.h3EnSecciones {
    font-family: 'Rubik Mono One', sans-serif;
    color: #0a0a0a;
}
h4 {
    font-style: oblique;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 24px;
    color: #0a0a0a;
}
.newsletter {
    font-style: oblique;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #1660ff;
}
.newsletter:hover {
    background-color: #90b2fc;
}
.tablaPosiciones {
    font-style: oblique;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #1660ff;
}
.tablaPosiciones:hover {
    background-color: #90b2fc;
}
.seccionA {
    grid-area: seccionA;
    height: 560px;
}
.seccionA__imgPrincipal {
    width: 1024px; 
    height: 400px;
}

.seccionA__pPrincipal {
    text-align: center;
    font-family: 'Rancho', cursive;
    font-size: 20px;
}


.seccionB {
    grid-area: seccionB;
    height: 850px;
}
.seccionB_imgSubNoticia {
    width: 550px;
    height: 300px;
}
.seccionC {
    grid-area: seccionC;
}
.formulariosBordes {
    border: dashed;
}


/* menu nav (main) */
.h1NavMenu {
    font-style: oblique;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    color: #4d4d4e;
    animation: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.navbar-custom {
    font-style: oblique;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    color: #ffffff;
}



/* menu footer (footer) */
.h1footer {
    font-style: oblique;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    color: #4d4d4e
    margin-left: 100px;
    animation: tada;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
footer {
    background: rgb(255,253,254);
    background: radial-gradient(circle, rgba(255,253,254,1) 45%, rgba(93,95,97,1) 100%);
}

.copyright {
    font-style: italic;
    font-weight: bold;
    color: rgb(0, 0, 0);
}






@media screen and (max-width: 768px) { /*tamaño tablets, (si es mayor a 768px no se aplica)*/

}
@media screen and (max-width: 576px) { /*tamaño celulares, (si es mayor a 576px no se aplica)*/

}